{% extends 'base_admin.html.twig' %}
{% block body %}
<!-- Page header start -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="icon-home2"></i></li>
        <li class="breadcrumb-item">admin</li>
        <li class="breadcrumb-item active">paramètres</li>
    </ol>
</div>
<!-- Page header end -->

<!-- Main container start -->
<div class="main-container">

    <!-- Row start -->
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="documents-section">
                
                <!-- Row start -->
                <div class="row no-gutters">
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4">
                        
                        <div class="docs-type-container">
                            <div class="mt-5"></div>
                            
                            <div class="docTypeContainerScroll">
                                <div class="docs-block">
                                    <div class="doc-labels">
                                        <a href="#" class="active">
                                            <i class="icon-receipt"></i> Entreprise
                                        </a>
                                        <a href="#">
                                            <i class="icon-package"></i> Document
                                        </a>
                                        <a href="#">
                                            <i class="icon-slack"></i> Taxe et TVA
                                        </a>
                                        <a href="#">
                                            <i class="icon-headphones"></i> Utilisateur
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-9 col-sm-9 col-8">
                        
                        <div class="documents-container">
                            <!-- Modal start -->
                            <div class="modal fade" id="addNewDocument" tabindex="-1" role="dialog" aria-labelledby="addNewDocumentLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addNewDocumentLabel">Add Document</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="row gutters">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label for="docTitle">Document Title</label>
                                                        <input type="text" class="form-control" id="docTitle" placeholder="Task Title">
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label for="dovType">Document Type</label>
                                                        <input type="text" class="form-control" id="dovType" placeholder="Task Title">
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label for="addedDate">Created On</label>
                                                        <div class="custom-date-input">
                                                            <input type="text" name="" class="form-control datepicker" id="addedDate" placeholder="10/10/2019">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div class="form-group mb-0">
                                                        <label for="docDetails">Document Details</label>
                                                        <textarea class="form-control" id="docDetails"></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer custom">
                                            <div class="left-side">
                                                <button type="button" class="btn btn-link danger btn-block" data-dismiss="modal">Cancel</button>
                                            </div>
                                            <div class="divider"></div>
                                            <div class="right-side">
                                                <button type="button" class="btn btn-link success btn-block">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                            <div class="documents-header">
                                <h3>Information <span class="date" id="todays-date"></span></h3>
                                <button class="btn btn-outline-primary" data-toggle="modal" data-target="#addNewDocument">Editer</button>
                            </div>
                            
                            <div class="documentsContainerScroll">
                                <div class="documents-body">
                                    <!-- Row start -->
                                    <div class="card-body">
                                        <div class="row gutters">
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                                <div class="form-group">
                                                    <label for="fullName">Nom de l'entreprise</label>
                                                    <input type="text" class="form-control" value="ADEPT" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="eMail">Registre du commerce</label>
                                                    <input type="text" class="form-control" value="784225623656" disabled>
                                                </div>
                                                
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                                <div class="form-group">
                                                    <label for="addRess">Matricule fiscale</label>
                                                    <input type="text" class="form-control" value="1209626/S/D/000" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="website">Site</label>
                                                    <input type="text" class="form-control" value="http://www.adept.com" disabled>
                                                </div>
                                                
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                                <div class="form-group">
                                                    <label for="devise">Devise</label>
                                                    <input type="text" class="form-control" value="TND" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="sTate">Appliqué à la TVA</label>
                                                    <input type="text" class="form-control" value="true" disabled>
                                                </div>  
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                                <figure class="user-card">
                                                    <figcaption>
                                                        <img src="{{ asset('front_end/img/user14.png') }}" alt="Adept Admin" class="profile">
                                                    </figcaption>
                                                </figure>
                                            </div>   
                                        </div>
                                        <hr>
                                    </div>
                                    
                                    <div class="card-body">
                                        <div class="row gutters">
                                            
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                                <div class="form-group">
                                                    <label for="fullName">Civilité</label>
                                                    <input type="text" class="form-control" value="Mr" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="eMail">Prénom</label>
                                                    <input type="text" class="form-control" value="Makrem" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="devise">Nom</label>
                                                    <input type="text" class="form-control" value="Jlassi" disabled>
                                                </div>
                                            </div>
                                            
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                                
                                                <div class="form-group">
                                                    <label for="addRess">Email</label>
                                                    <input type="text" class="form-control" value="makrem@gmail.com" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="website">Position</label>
                                                    <input type="text" class="form-control" value="Responsable technique" disabled>
                                                </div>
                                            </div> 
                                            
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                                
                                                <div class="form-group">
                                                    <label for="addRess">Pays</label>
                                                    <input type="text" class="form-control" value="Tunisie" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="website">Adresse</label>
                                                    <input type="text" class="form-control" value="Tunis" disabled>
                                                </div>
                                            </div> 
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                                                
                                                <div class="form-group">
                                                    <label for="addRess">Région</label>
                                                    <input type="text" class="form-control" value="Tunis" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="website">Téléphone</label>
                                                    <input type="text" class="form-control" value="(+98) 616 737" disabled>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                    <!-- Row end -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Row end -->

            </div>
        </div>
    </div>
    <!-- Row end -->

</div>
<!-- Main container end -->
{% endblock %}