{% extends 'base.html.twig'%}

{% block body %}
        <title>{% block title %}{{title_name}}{% endblock %}</title>
        <section class="erp_banner_area_two">
            <ul class="list-unstyled cloud_animation">
                <li><img src="front_end/img/erp-home/cloud_01.png" alt=""></li>
                <li><img src="front_end/img/erp-home/cloud_02.png" alt=""></li>
                <li><img src="front_end/img/erp-home/cloud_03.png" alt=""></li>
                <li><img src="front_end/img/erp-home/cloud_04.png" alt=""></li>
                <li><img src="front_end/img/erp-home/cloud_05.png" alt=""></li>
                <li><img src="front_end/img/erp-home/cloud_06.png" alt=""></li>
				
            </ul>
            <div class="erp_shap"></div>
            <div class="erp_shap_two" style="background: url(front_end/img/erp-home/banner_shap.png) no-repeat scroll top left;"></div>
            <div class="section_intro">
                <div class="section_container">
                    <div class="intro">
                        <div class=" intro_content">
                            <h1>LA SOLUTION ULTIME DE FACTURATION / GESTION</h1>   
                            <p>ACCÉLÉREZ VOTRE GÉRANCE ET MINIMISIEZ LA PAPERASSE.</p>
                            <a href="#" class="er_btn er_btn_two">Commencer dès maintenant</a> 
		
                        </div>
                    </div>
                </div>
            </div>
			
			  
            <div class="animation_img wow fadeInUp" data-wow-delay="0.5s">
                <div class="container">
                    <section class="erp_action_area">
						<div class="container">
							<div class="row align-items-center">
								<div class="col-lg-3 col-md-4">
									<img src="front_end/img/erp-home/action_img.png" alt="">
								</div>
								<div class="col-lg-9 col-md-8">
									<div class="erp_content">
										<h2>Notre objectif c'est rendre votre travail <strong>plus confortable & pratique</strong></h2>
									</div>
								</div>
							</div>
						</div>
					</section>
                </div>
            </div>
			
        </section>
        <section class="erp_service_area sec_pad">
            <div class="container">
                <div class="hosting_title erp_title text-center">
                    <h2>Accessible, pratique & gérable</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="erp_service_item pr_70 pl_10">
                            <img src="front_end/img/erp-home/erp_icon2.png" alt="">
                            <a href="#"><h3 class="h_head">Y voir clair</h3></a>
                            <p>Qui a fait/dit/écrit quoi, quand et comment?</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
					    <div class="erp_service_item pr_70">
                            <img src="front_end/img/erp-home/erp_icon1.png" alt="">
                            <a href="#"><h3 class="h_head">Cloud sécurisé</h3></a>
                            <p>La plateforme ADAPTER est déployée sur le cloud, ce qui la rend accessible, performante, et disponible à la demande de plus répond à toutes normes de sécurité et de confidentialité des données.</p>
                        </div>
                        
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="erp_service_item pl_70">
                            <img src="front_end/img/erp-home/erp_icon3.png" alt="">
                            <a href="#"><h3 class="h_head">Dupliquer vos succés</h3></a>
                            <p>La différence essentielle entre l’artisanat et la production industrielle, au-delà du chiffre d’affaire dégagé, est l’automatisation des processus de production et un politique d’amélioration continue des flux de travail.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="erp_service_item pr_70">
                            <img src="front_end/img/erp-home/erp_icon4.png" alt="">
                            <a href="#"><h3 class="h_head">Multi-Sociétés</h3></a>
                            <p>Gérez toutes vos sociétés à partir du même compte Adapter. Vos données sont ainsi centralisées pour une meilleure visibilité.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="erp_service_item pl_10">
                            <img src="front_end/img/erp-home/erp_icon5.png" alt="">
                            <a href="#"><h3 class="h_head">Accélérer la croissance</h3></a>
                            <p>La finalité de toutes ces améliorations est bien entendu la croissance.</p>
                        </div>
                    </div>
                    <!--<div class="col-lg-4 col-sm-6">
                        <div class="erp_service_item pl_70">
                            <img src="img/erp-home/erp_icon6.png" alt="">
                            <a href="#"><h3 class="h_head">Works in Web</h3></a>
                            <p>Bloke fantastic bubble and squeak do one what a plonker nancy boy burke fanny around.</p>
                        </div>
                    </div>-->
                </div>
            </div>
        </section>
        <section class="prototype_service_area_two">
            <div class="container custom_container">
                <div class="sec_title text-center mb_70">
                    <h2 class="f_p f_size_30 l_height50 f_600 t_color3">Quel logiciel pour quel besoin ?</h2>
                    <p class="f_400 f_size_16 mb-0">L’écosystème de solutions ADAPTER propose un large panel d’outils de gestion de relation client, de gestion d’entreprise et de gestion de la communication / marketing.
					Nos conseillés et nos partenaires intégrateurs sont à votre disposition afin de vous aider à choisir le logiciel répondant à vos besoins, et à vous aider à l’implémenter.</p>
                </div>
                <div class="service_carousel owl-carousel">
                    <div class="service_item">
                        <div class="icon s_icon_one"><i class="ti-check"></i></div>
                        <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Mail Metrics<br> Receive</h4>
                        <p>Brolly off his nut A bit of how's your father chancer in my flat chinwag bog skive.</p>
                        <img class="float-right" src="front_end/img/home2/undraw.png" alt="">
                    </div>
                    <div class="service_item">
                        <div class="icon s_icon_two"><i class="ti-location-arrow"></i></div>
                        <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Mail Metrics<br> Receive</h4>
                        <p>Brolly off his nut A bit of how's your father chancer in my flat chinwag bog skive.</p>
                        <img class="float-right" src="front_end/img/home2/inbox.png" alt="">
                    </div>
                    <div class="service_item">
                        <div class="icon s_icon_three"><i class="ti-search"></i></div>
                        <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Mail Metrics<br> Receive</h4>
                        <p>Brolly off his nut A bit of how's your father chancer in my flat chinwag bog skive.</p>
                        <img class="float-right" src="front_end/img/home2/file.png" alt="">
                    </div>
                    <div class="service_item">
                        <div class="icon s_icon_four"><i class="ti-stats-up"></i></div>
                        <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Mail Metrics<br> Receive</h4>
                        <p>Brolly off his nut A bit of how's your father chancer in my flat chinwag bog skive.</p>
                        <img class="float-right" src="front_end/img/home2/report.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="erp_features_area_two sec_pad">
            <div class="container">
                <div class="row erp_item_features align-items-center flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="erp_features_img_two">
                            <div class="img_icon"><span class="pluse_1"></span><span class="pluse_2"></span><i class="icon_lightbulb_alt"></i></div>
                            <img src="front_end/img/erp-home/crm_img1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="erp_content_two">
                            <div class="hosting_title erp_title">
                                <h2>Nurture Your Customers Using Advanced CRM</h2>
                                <p>Cack brolly butty grub chancer smashing brilliant vagabond, chimney pot blower such a fibber ummm I'm telling chinwag he lost his bottle.!</p>
                            </div>
                            <div class="media erp_item">
                                <div class="icon">
                                    <i class="icon_menu-square_alt2"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Everybody Gets a Dashboard</h5>
                                </div>
                            </div>
                            <div class="media erp_item">
                                <div class="icon green">
                                    <i class="icon_ribbon_alt"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Complete Leave Management</h5>
                                </div>
                            </div>
                            <a href="#" class="erp_btn_learn">Learn More<i class="arrow_right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row erp_item_features align-items-center">
                    <div class="col-lg-6">
                        <div class="erp_features_img_two">
                            <div class="img_icon red"><span class="pluse_1"></span><span class="pluse_2"></span><i class="icon_lightbulb_alt"></i></div>
                            <img src="front_end/img/erp-home/crm_img2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="erp_content_two">
                            <div class="hosting_title erp_title">
                                <h2>Integrated Project Management System</h2>
                                <p>Cack brolly butty grub chancer smashing brilliant vagabond, chimney pot blower such a fibber ummm I'm telling chinwag he lost his bottle.!</p>
                            </div>
                            <div class="media erp_item">
                                <div class="icon blue">
                                    <i class="icon_menu-square_alt2"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Everybody Gets a Dashboard</h5>
                                </div>
                            </div>
                            <div class="media erp_item">
                                <div class="icon yellow">
                                    <i class="icon_ribbon_alt"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Complete Leave Management</h5>
                                </div>
                            </div>
                            <a href="#" class="erp_btn_learn">Learn More<i class="arrow_right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row erp_item_features align-items-center flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="erp_features_img_two">
                            <div class="img_icon green"><span class="pluse_1"></span><span class="pluse_2"></span><i class="icon_lightbulb_alt"></i></div>
                            <img src="front_end/img/erp-home/crm_img3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="erp_content_two">
                            <div class="hosting_title erp_title">
                                <h2>Accounting for all The Non-Accountants</h2>
                                <p>Cack brolly butty grub chancer smashing brilliant vagabond, chimney pot blower such a fibber ummm I'm telling chinwag he lost his bottle.!</p>
                            </div>
                            <div class="media erp_item">
                                <div class="icon purple">
                                    <i class="icon_menu-square_alt2"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Everybody Gets a Dashboard</h5>
                                </div>
                            </div>
                            <div class="media erp_item">
                                <div class="icon green_two">
                                    <i class="icon_ribbon_alt"></i>
                                </div>
                                <div class="media-body">
                                    <h5>Complete Leave Management</h5>
                                </div>
                            </div>
                            <a href="#" class="erp_btn_learn">Learn More<i class="arrow_right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="erp_analytics_area">
            <div class="container">
                <div class="hosting_title erp_title text-center">
                    <h2>Analytics</h2>
                    <p>The full monty burke posh excuse my French Richard cheeky bobby<br> spiffing crikey Why gormless, pear shaped.!</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="erp_analytics_item text-center">
                            <img src="front_end/img/erp-home/settings1.png" alt="">
                            <p>Quick setup in five simple steps.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="erp_analytics_item text-center">
                            <img src="front_end/img/erp-home/cloud-computing.png" alt="">
                            <p>Complete purchase history</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="erp_analytics_item text-center">
                            <img src="front_end/img/erp-home/growth.png" alt="">
                            <p>Signup, No credit  card details required.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="erp_customer_logo_area">
            <div class="container">
                <div class="hosting_title erp_title text-center">
                    <h2>Great companies that <span class="icon_heart"></span> SaasLand ERP</h2>
                    <p>Cack brolly butty grub chancer smashing brilliant vagabond, chimney pot blower such a fibber<br> ummm I'm telling chinwag he lost his bottle nancy boy.</p>
                </div>
                <ul class="list-unstyled animation_inner">
                    <li class="wow slideInnew2" data-wow-delay="0.2s"><img src="front_end/img/erp-home/img/01.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="0.4s"><img src="front_end/img/erp-home/img/02.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="0.6s"><img src="front_end/img/erp-home/img/03.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="0.7s"><img src="front_end/img/erp-home/img/04.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="0.9s"><img src="front_end/img/erp-home/img/05.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="1s"><img src="front_end/img/erp-home/img/06.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="1.1s"><img src="front_end/img/erp-home/img/07.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="1.2s"><img src="front_end/img/erp-home/img/08.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="1s"><img src="front_end/img/erp-home/img/09.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="1.4s"><img src="front_end/img/erp-home/img/10.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="1.5s"><img src="front_end/img/erp-home/img/11.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="1.6s"><img src="front_end/img/erp-home/img/12.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="1.7s"><img src="front_end/img/erp-home/img/13.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="1.8s"><img src="front_end/img/erp-home/img/14.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="1.9s"><img src="front_end/img/erp-home/img/15.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="2s"><img src="front_end/img/erp-home/img/16.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="2.2s"><img src="front_end/img/erp-home/img/17.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="2.4s"><img src="front_end/img/erp-home/img/18.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="2.6s"><img src="front_end/img/erp-home/img/19.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="2.7s"><img src="front_end/img/erp-home/img/20.png" alt=""></li>
                </ul>
                <div class="text-center">
                    <a href="#" class="er_btn">More Customers</a>
                </div>
            </div>
        </section>
        <section class="erp_testimonial_area sec_pad">
            <div class="container">
                <div class="hosting_title erp_title text-center">
                    <h2>What our customers<br> say about SaasLand ERP</h2>
                </div>
                <div class="row">
                    <div class="erp_testimonial_info owl-carousel">
                        <div class="erp_testimonial_item">
                            <div class="content">
                                <p>Loo car boot bodge smashing I up the duff horse play give us a bell, William bugger all mate happy days mush at public school tosser victoria sponge, say lurgy hunky-dory twit hotpot gutted mate.</p>
                                <div class="ratting">
                                    <a href="#"><i class="icon_star"></i></a>
                                    <a href="#"><i class="icon_star"></i></a>
                                    <a href="#"><i class="icon_star"></i></a>
                                    <a href="#"><i class="icon_star"></i></a>
                                    <a href="#"><i class="icon_star"></i></a>
                                </div>
                            </div>
                            <div class="media">
                                <img src="front_end/img/erp-home/testimonial_img.jpg" alt="">
                                <div class="media-body">
                                    <h5>Lance Bogrol, <span>Chief Financial</span></h5>
                                    <p>Officer at Samumed</p>
                                </div>
                            </div>
                        </div>
                        <div class="erp_testimonial_item">
                            <div class="content">
                                <p>Loo car boot bodge smashing I up the duff horse play give us a bell, William bugger all mate happy days mush at public school tosser victoria sponge, say lurgy hunky-dory twit hotpot gutted mate.</p>
                                <div class="ratting">
                                    <a href="#"><i class="icon_star"></i></a>
                                    <a href="#"><i class="icon_star"></i></a>
                                    <a href="#"><i class="icon_star"></i></a>
                                    <a href="#"><i class="icon_star"></i></a>
                                    <a href="#"><i class="icon_star"></i></a>
                                </div>
                            </div>
                            <div class="media">
                                <img src="front_end/img/erp-home/testimonial_img2.jpg" alt="">
                                <div class="media-body">
                                    <h5>Lance Bogrol, <span>Chief Financial</span></h5>
                                    <p>Officer at Samumed</p>
                                </div>
                            </div>
                        </div>
                        <div class="erp_testimonial_item">
                            <div class="content">
                                <p>Loo car boot bodge smashing I up the duff horse play give us a bell, William bugger all mate happy days mush at public school tosser victoria sponge, say lurgy hunky-dory twit hotpot gutted mate.</p>
                                <div class="ratting">
                                    <a href="#"><i class="icon_star"></i></a>
                                    <a href="#"><i class="icon_star"></i></a>
                                    <a href="#"><i class="icon_star"></i></a>
                                    <a href="#"><i class="icon_star"></i></a>
                                    <a href="#"><i class="icon_star"></i></a>
                                </div>
                            </div>
                            <div class="media">
                                <img src="front_end/img/erp-home/testimonial_img2.jpg" alt="">
                                <div class="media-body">
                                    <h5>Lance Bogrol, <span>Chief Financial</span></h5>
                                    <p>Officer at Samumed</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="er_btn">Read All The Testimonials</a>
                </div>
            </div>
        </section>
        <section class="erp_call_action_area">
            <div class="container">
                <div class="erp_action_content text-center">
                    <img src="front_end/img/erp-home/rocket.png" alt="">
                    <h3>Experience a smarter way to close deals</h3>
                    <p>With All-in-one<span>Business</span>Manager</p>
                    <a href="#" class="er_btn er_btn_two">Get Started Free</a>
                </div>
            </div>
        </section>
        <footer class="footer_area h_footer_dark h_footer_dark_two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="f_widget dark_widget company_widget">
                            <!--<a href="index.html" class="f-logo"><img src="front_end/img/logo2.png" alt=""></a>-->
                            <p>© 2020 Simpler, LLC. All rights reserved.</p>
                            <div class="f_social_icon">
                                <a href="#" class="ti-facebook"></a>
                                <a href="#" class="ti-twitter-alt"></a>
                                <a href="#" class="ti-vimeo-alt"></a>
                                <a href="#" class="ti-pinterest"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget dark_widget about-widget pl_70">
                            <h3 class="f-title f_500 t_color f_size_18 mb_40">Download</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Company</a></li>
                                <li><a href="#">Android App</a></li>
                                <li><a href="#">ios App</a></li>
                                <li><a href="#">Desktop</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Partners</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget dark_widget about-widget pl_20">
                            <h3 class="f-title f_500 t_color f_size_18 mb_40">Help</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Term & conditions</a></li>
                                <li><a href="#">Reporting</a></li>
                                <li><a href="#">Block Storage</a></li>
                                <li><a href="#">Tools & Integrations</a></li>
                                <li><a href="#">API</a></li>
                                <li><a href="#">Pricing</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="f_widget dark_widget about-widget pl_20">
                            <h3 class="f-title f_500 t_color f_size_18 mb_40">Team Solutions</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Sales</a></li>
                                <li><a href="#">Report Abuse</a></li>
                                <li><a href="#">System Status</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}

        